html,
body {
  margin: 0;
}

nav > ul {
  height: 40px;
  list-style: none;
}
li {
  display: inline-block;
  margin: 0;

  height: 30px;
}
li:hover {
  background-color: rgb(141, 141, 218);
  color: white;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border-style: solid;
}

h3,
h4 {
  text-align: center;
}

header {
  background-color: rgb(238, 169, 100);
  padding: 15px 20px;
  margin-bottom: 25px;

}
section {
  background-color: rgb(113, 237, 113);;
  padding: 15px 20px;
  margin-bottom: 25px;
 
}
footer {
  background-color: rgb(113, 237, 113);
  padding: 15px 20px;
  margin-bottom: 25px;
}

.copyright {
  background-color: rgb(188, 188, 188);
  text-align: center;
  font-size: 15px;
  padding: 15px 20px;
  margin-bottom: 0;
}
