html,
body {
    margin: 0;
    padding-left: 5%;

     
}
/* nav menu */
nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
   

}


    nav a {
    text-decoration: none;
    color: black;
    border-style: solid ;
}


h3,
h4{
    text-align: center;
}

header {
    background-color: peru;
   
        /* padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px; */
   
}
section {
    background-color: green;
/*     
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px; */
    
}
footer {
    background-color: green;
/*    
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
       */
}
.copyright {
    background-color: grey;
    text-align: center;
    font-size: 15px;
    

}